{% extends 'base.html' %}

{% block content %}
    <h2>Comparison Between Models</h2>

<!--Side by side containers-->
<div class="float-container">

    <div id="chat-log" class="float-child">GPT 3.5</div>
    <div id="chat-log-2" class="float=child">GPT 4</div>

</div>

    <form id="chat-form">
        <input type="text" id="user-input">
        <button type="submit">Send</button>
    </form>

    <script>
        document.getElementById('chat-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const user_input = document.getElementById('user-input').value;

            document.getElementById('user-input').value = '';
            document.getElementById('chat-log').innerHTML += `<div class="user-message">${user_input}</div>`;
            document.getElementById('chat-log-2').innerHTML += `<div class="user-message">${user_input}</div>`;


            fetch('/comp', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ user_input: user_input }),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('chat-log').innerHTML += `<div class="ai-message">${data.message}</div>`;
                document.getElementById('chat-log-2').innerHTML += `<div class="ai-message">${data.message2}</div>`;
            })
            .catch((error) => {
                console.error('Error:', error);
                document.getElementById('chat-log').innerHTML += "<div>Error retrieving response from server.</div>";
                document.getElementById('chat-log-2').innerHTML += "<div>Error retrieving response from server.</div>";
            });
        });
    </script>
{% endblock %}

